* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}
div {
  margin-top: 10%;
  margin-left: 45%;
}

button {
  margin-left: 45%;
  padding: 10px;
}

button:hover {
  background-color: seagreen;
}
